[data-flask-editable-image],
[data-flask-editable-bg-image],
[data-flask-editable-text] {
    outline: dashed 1px rgba(0, 0, 0, 0.5)
}

[data-flask-editable-image],
[data-flask-editable-bg-image] {
    cursor: pointer;
}

[data-flask-editable-image]:focus,
[data-flask-editable-bg-image]:focus,
[data-flask-editable-text]:focus {
    outline: dashed 1px rgba(0, 0, 0, 0.8);
}

.cleanslate {
    font-family: Verdana,Geneva,sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 500 !important;
    line-height: 26.4px !important;
}

.cleanslate .flask-edit-close-button {
    display: inline-block !important;
    border-radius: 3px !important;
    padding: 0.3em 0.5em !important;
    margin: 0.5em !important;
    color: black !important;
    background: white !important;
    border: solid 0px !important;
    outline: none !important;
    cursor: pointer !important;
    font-family: Verdana,Geneva,sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 500 !important;
    line-height: 26.4px !important;
    box-shadow: none !important;
}

.cleanslate .flask-edit-close-button:hover,
.cleanslate .flask-edit-close-button:focus,
.cleanslate .flask-edit-close-button:active {
    background: rgb(100, 150, 255) !important;
}

body.flask-edit-stop-scroll {
    overflow: hidden;
}

.cleanslate .flask-edit-publish-button,
.cleanslate .flask-edit-publish-button:active {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    display: inline-block !important;
    border-radius: 3px !important;
    padding: 0.3em 0.5em !important;
    margin: 0.5em !important;
    color: white !important;
    background: rgb(30, 80, 255) !important;
    border: solid 0px !important;
    outline: none !important;
    cursor: pointer !important;
    font-family: Verdana,Geneva,sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 500 !important;
    line-height: 26.4px !important;
    box-shadow: none !important;
}

.cleanslate input[type="text"].flask-edit-input-text {
    display: block !important;
    border-radius: 3px !important;
    width: 100% !important;
    padding: 0.3em 0.5em !important;
    color: black !important;
    background-color: white !important;
    border: solid 0px white !important;
    margin: 5px 0 10px 0 !important;
    outline: none !important;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 500 !important;
    line-height: 26.4px !important;
    box-sizing: border-box !important;
}

.cleanslate .flask-edit-publish-button svg {
    height: 1em !important;
    width: 1em !important;
    vertical-align: middle !important;
}

.cleanslate .flask-edit-fixed {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(50, 50, 60, 0.8) !important;
}

.cleanslate .flask-edit-form {
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: rgb(200, 200, 200) !important;
    max-width: 400px !important;
    min-height: 200px !important;
    width: 90% !important;
    padding: 20px !important;
    text-align: center !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
}

.cleanslate label.flask-edit-label {
    display: block !important;
    text-align: left !important;
    padding: 5px 2px !important;
}

.cleanslate label.flask-edit-file-upload {
    display: inline-block !important;
    border-radius: 3px !important;
    padding: 0.3em 0.5em !important;
    color: white !important;
    background-color: rgb(30, 80, 255) !important;
    border: solid 0px !important;
    outline: none !important;
    cursor: pointer !important;
    margin: 30px !important;
}

.cleanslate label.flask-edit-file-upload > svg {
    width: 1.5em !important;
    height: 1.5em !important;
}

.cleanslate label.flask-edit-file-upload > input[type="file"] {
    display: none !important;
}

@keyframes flask-edit-highlight {
    0% {
        background: green;
    }
    100% {
        background: none;
    }
}

.flask-edit-flash {
    background: none;
    animation: flask-edit-highlight 1s;
}
